html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #444;
}

header {
  height: 40px;
  line-height: 40px;
  display: flex;
  background: #eee;
  padding: 0 20px;
}

header h1 {
  margin: 0;
  font-size: 25px;
  align-self: flex-start;
}

header .profile {
  font-size: 14px;
  margin-left: auto;
}

.sub-header {
  height: 40px;
  line-height: 40px;
  display: flex;
  border-bottom: 1px solid #ddd;
}

main {
  position: relative;
  height: calc(100% - 80px);
}

.chart-row {
  display: flex;
}

.bottom-row {
  width: 100%;
  height: calc(100% - 25px);
}

.top-left {
  height: 25px;
  width: 110px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.x-axis, .y-axis {
  font-size: 13px;
}

.x-axis {
  width: calc(100% - 110px);
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

.x-axis > div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 9600px;
}

.x-axis > div > div {
  height: 25px;
  line-height: 25px;
  width: 100px;
  text-align: center;
}

.y-axis {
  position: relative;
  width: 110px;
  height: calc(100% - 25px);
  border-right: 1px solid #ddd;
  overflow: hidden;
  text-align: center;
}

.y-axis > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9100px;
}

.y-axis > div > div {
  font-size: 13px;
  height: 35px;
  line-height: 35px;
}

.data-container {
  height: calc(100% - 25px);
  width: calc(100% - 110px);
  overflow: scroll;
}

.data-container > .data {
  height: 9100px;
  width: 9600px;
  position: relative;
}

.cell {
  position: absolute;
}
